@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @ViewBag.Greeting World (From the View)
    <p> We're going  to have an exciting party. <br/>
            (Todo : sell it better. Add pics or something.) </p>


    <a asp-action="RsvpForm">RSVP Now</a>
</div>
